<!-- Category Espot -->
<section class="lklnd">
    <section class="fullwidth">
        <section class="espot promonamehere clearfix">
            <section class="container">
                <a href="">
                    <img class="img-responsive hidden-xs" src="/cs/groups/public/documents/graphic/" alt="">
                    <img class="img-responsive visible-xs" src="/cs/groups/public/documents/graphic/" alt="">
                </a>
            </section>
        </section>
    </section>
</section>
<style type="text/css">
</style>
