<!-- Brand Banner -->
<div class="lklnd">
    <section class="brand-banner pagenamehere">
        <div class="fullwidth text-center">
            <article class="container padd-0">
                <a href="">
                    <img class="img-responsive hidden-xs" src="/cs/groups/public/documents/graphic/" alt="" />
                    <img class="img-responsive visible-xs" src="/cs/groups/public/documents/graphic/" alt="" />
                </a>
            </article>
        </div>
        <section class="subtitle">
            <div class="container">
                <article class="text text-center marg-top-10">
                </article>
            </div>
        </section>
    </section>
</div>
<style type="text/css">
</style>
