<!-- Breadcrumb -->
<div id="widget_breadcrumb" class="Leftwidget_breadcrumb">
    <ul aria-label="breadcrumb navigation region">
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" id="WC_BreadCrumb_Link_1_1_-1028_3074457345618285706" href="http://www.thegoodguys.com.au">
                <span itemprop="title">Home</span>
            </a>
            <span class="sectionider" aria-hidden="true">/</span>
        </li>
        <li itemprop="child" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" id="WC_BreadCrumb_Link_2_1_-1028_3074457345618285706" href="#">
                <span itemprop="title">Parent</span>
            </a>
            <span class="sectionider" aria-hidden="true">/</span>
        </li>
        <li class="current" itemprop="child" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">Current</li>
    </ul>
</div>
